<% unless admin_signed_in? -%>
  <p><%= link_to t(:sign_up_as_admin), new_admin_registration_path %></p>
  <p><%= link_to t(:sign_in_as_admin), new_admin_session_path %></p>
<% end -%>

<% unless user_signed_in? -%>
  <p><%= link_to t(:sign_up_as_user), new_user_registration_path %></p>
  <p><%= link_to t(:sign_in_as_user), new_user_session_path %></p>
<% end -%>

<% if user_signed_in? -%>
  <p><%= link_to t(:token_authentication_example), token_path(:auth_token => current_user.authentication_token) %></p>
<% end -%>

